<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#admin">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li><a href="#admin">Admin Home</a></li>
     <li class="active"><a href="#adminbank">Mom Bank</a></li>
     <li><a href="#bonusrewards">Bonus Rewards</a></li>
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="abc.logout()">Log Out</button>
 </div>
</nav>
<!--  this is AdminBankController as abc-->
<div>
  <div class="panel-body">
    <div id="banktransaction" class="panel panel-default">
      <div class="panel-heading" style="margin-top: 8vh;"><b>MAKE A TRANSACTION AT THE MOM BANK</b></div>
        <div class="panel-body">
            <form ng-submit="abc.addTransaction()">
                <div class="form-group row">
                <!--date picker input-->
                <div class="col-md-3">
                  <label for="datepicker">Select transaction date:</label>
                  <input class="form-control" type="date" name="datepicker" ng-model="abc.bank.date">
               </div>
                <!--select withdrawal/deposit -->
                <div class="col-md-3">
                  <label for="transaction"> Select transaction type: </label>
                  <select class="form-control" name="transaction" ng-model="abc.bank.transaction">
                    <option value="deposit">deposit</option>
                    <option value="withdrawal">withdrawal</option>
                  </select>
               </div>
                <!--select dollar amount-->
              <div class="col-md-3">
                  <label>Amount:  </label>
                  <input class="form-control" type="number" name="input" ng-model="abc.bank.amount"
                        min="-20" max="20" required>
              </div>
                <!--select username-->
              <div class="col-md-3">
                <label for="username"> Select child: </label>
                <select class="form-control" ng-model="abc.bank.username"
                  ng-options="thing.username as thing.username for thing in abc.usernames">
                  <option value="{{thing.username}}"></option>
                </select>
               </div>
              </div>
                <!--comment input-->
              <div class="form-group row">
               <div class="col-md-8">
                <label for "comment"> Comments: </label>
                <input class="form-control" type="string" name="comment" ng-model="abc.bank.comment"/>
              </div>
                <div class="col-md-4">
                <input class="btn  btn-primary" style="float: right; margin-right: 5vw; margin-top: 4vh;" type="submit" name="submit" value="submit"/>
              </div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <!-- bank table -->
    <div id="admintable">
      <table class="table table-bordered table-hover table-condensed" st-table="rowCollection" at-table at-paginated at-list="list" at-config="config">
        <tr style="font-weight: bold">
          <td style="width:20%">Date</td>
          <td style="width:10%">Transaction</td>
          <td style="width:10%">Amount</td>
          <td style="width:25%">Name</td>
          <td style="width:25%">Comment</td>
          <td style="width:25%">Edit</td>
        </tr>
        <tr ng-repeat="item in abc.bank">
          <td>
            <!-- editable username (text with validation) -->
            <span editable-date="item.date" e-name="date" e-form="rowform" onbeforesave="checkDate($data, item._id)">
              {{ item.date | date:'MM-dd-yyyy' || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable frequency-->
            <span editable-select="item.transaction" e-name="transaction" e-form="rowform" e-ng-options="t.text as t.text for t in abc.transaction">
              {{ abc.showTransaction(item) }}
            </span>
          </td>
          <td>
            <!-- editable username (select-remote) -->
            <span editable-number="item.amount" e-name="amount" onshow="ac.loadAmount()" e-form="rowform" onbeforesave="checkAmount($data, item._id)">
              {{ item.amount || 'empty' | number}}
            </span>
          </td>
          <td>
            <!-- editable username (text with validation) -->
            <span editable-select="item.username" e-name="username" e-form="rowform" e-ng-options="u.username as u.username for u in abc.usernames">
              {{ abc.showUsername(item) }}
            </span>
          </td>
          <td>
            <!-- editable username (text with validation) -->
            <span editable-text="item.comment" e-name="comment" e-form="rowform" onbeforesave="checkComment($data, item._id)">
              <!-- {{ abc.showComment(item) }} -->
              {{ item.comment || 'empty' }}
            </span>
          </td>
          <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="rowform"  onbeforesave="abc.saveTransaction($data, item._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="abc.inserted === item">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                save
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                cancel
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
              <button type="button" class="btn btn-danger" ng-click="abc.deleteTransaction($index,item._id)">del</button>
            </div>
          </td>
        </tr>
      </table>
    <!-- <ul uib-pagination total-items="abc.totalItems" ng-model="abc.currentPage" max-size="abc.maxSize" class="pagination-sm pagination" boundary-links="true" num-pages="abc.numPages"></ul> -->
  </div>
 <!-- <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button> -->

<table id="balancestable">
  <tr>
     <th colspan="2">Account Balances</th>
  </tr>
     <th>Name</th>
     <th>Balance</th>
  <tr ng-repeat="item in abc.balance">
    <td>{{ item.username }}</td>
    <td>{{ item.balance | currency}}</td>
  </tr>
</table>
</div>
