<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#admin">Admin Home</a></li>
     <li><a href="#adminbank">Admin Bank</a></li>
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="ac.logout()">Log Out</button>
 </div>
</nav>
  <h3 ng-if="ac.message != ''">{{ac.message}}</h3>
  <div class="adduser panel panel-default">
    <div class="panel-heading"><b>ADD USER</b></div>
      <div class="panel-body">
        <form ng-submit="ac.addUser()">
          <input type="text" ng-model="ac.user.firstname" placeholder="First Name">
          <input type="text" ng-model="ac.user.lastname" placeholder="Last Name">
          <input type="text" ng-model="ac.user.username" placeholder="Username">
          <input type="text" ng-model="ac.user.password" placeholder="Password">
          <label>Allowance:  </label>
          <input type="number" name="input" ng-model="ac.user.allowance"
                min="0" max="20" required>
          <label for="transaction"> Admin: </label>
            <select name="admin" ng-model="ac.user.admin">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          <br><br>
          Link to google embedded calendar: <input type="text" ng-model="ac.user.calendar">
          <div class="adduserbuttons">
          <input class="btn btn-primary" type="submit" name="submit" value="submit"/>
          <button type="button" class="btn btn-default btn-primary" ng-click="ac.showHide()">show/hide</button>
          </div>
        </form>
      </div>
        <table ng-show="ac.isVisible">
          <tr>
             <th>First</th>
             <th>Last</th>
             <th>Username</th>
             <th>Allowance</th>
             <th>Admin</th>
             <th>Calendar Link</th>
             <th>Remove User</th>
          </tr>
            <tr ng-repeat="user in ac.usernames ">
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.allowance | currency}}</td>
              <td>{{ user.admin }}</td>
              <td>{{ user.calendar }}</td>
              <td> <button type="button" class="btn btn-default btn-danger" ng-click="ac.removeUser(user._id)">delete</button></td>
        </tr>
        </table>
    </div>



<div id="admintable">
  <p class="search">Search: <input type="text" ng-model="search.$" /></p>
  <table class="table admin table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:35%">Responsibility</td>
      <td style="width:20%">Frequency</td>
      <td style="width:20%">User</td>
      <td style="width:25%">Edit</td>
    </tr>
    <tr ng-repeat="task in ac.tasks | orderBy:ac.mySortFunction | filter:search">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="task.description" e-name="description" e-form="rowform" onbeforesave="checkName($data, task._id)">
          {{ task.description || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable frequency-->
        <span editable-select="task.frequency" e-name="frequency" e-form="rowform" e-ng-options="f.value as f.text for f in ac.frequencies">
          {{ ac.showFrequency(task) }}
        </span>
      </td>
      <td>
        <!-- editable username (select-remote) -->
        <span editable-select="task.username" e-name="username" onshow="ac.loadUsernames()" e-form="rowform" e-ng-options="u.username as u.username for u in ac.usernames">
          {{ ac.showUsername(task) }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform"  onbeforesave="ac.saveTask($data, task._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="ac.inserted === task">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button type="button" class="btn btn-danger" ng-click="ac.removeTask($index,task._id)">del</button>
        </div>
      </td>
    </tr>
  </table>
 </div>
  <div class="adminbuttons  btn-group">
    <button type="button" class="btn btn-default btn-primary" ng-click="ac.addTask()">Add Task</button>
    <button type="button" class="btn btn-default btn-primary" ng-click="ac.loadTasks()">Show Task List</button>
    <button type="button" class="btn btn-default btn-primary" ng-click="ac.hideTasks()">Hide Task List</button>
  </div>
