<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#admin">Admin Home</a></li>
     <!-- <li><a href="#adminbank">Mom Bank</a></li> -->
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="abc.logout()">Log Out</button>
 </div>
</nav>
<!--  this is AdminBankController as abc-->
<div id="banktransaction">
  <h3 ng-if="ac.message != ''">{{abc.message}}</h3>
      <form ng-submit="abc.addTransaction()">
        <b>MAKE A BANK TRANSACTION</b><br>

          <label for="datepicker">Select transaction date:</label>
          <input type="date" name="datepicker" ng-model="abc.bank.date">

          <label for="transaction"> Select transaction type: </label>
          <select name="transaction" ng-model="abc.bank.transaction">
            <option value="deposit">deposit</option>
            <option value="withdrawal">withdrawal</option>
          </select>

          <label>Amount:  </label>
          <input type="number" name="input" ng-model="abc.bank.amount"
                min="0" max="20" required>

          <label for="username"> Select child: </label>
          <select ng-model="abc.bank.username"
            ng-options="thing.username as thing.username for thing in abc.usernames">
            <option value="{{thing.username}}"></option>
          </select>

          <input class="btn btn-default" type="submit" name="submit" value="submit"/>
      </form>
</div>
<table id="adminbanktable">
  <tr>
     <th>Date</th>
     <th>Transaction Type</th>
     <!-- <th>Deposit</th> -->
     <!-- <th>Withdrawl</th> -->
     <th>Amount</th>
     <th>Name</th>
  </tr>
  <tr ng-repeat="item in abc.bankTransactions">
    <td>{{ item.date }}</td>
    <td>{{ item.transaction }}</td>
    <td>{{ item.amount }}</td>
    <td>{{ item.username }}</td>
  </tr>
</table>
<table id="balancestable">
  <tr>
     <th colspan="2">Account Balances</th>
  </tr>
     <th>Name</th>
     <th>Balance</th>
  <tr ng-repeat="item in abc.balance">
    <td>{{ item.username }}</td>
    <td>{{ item.balance }}</td>
  </tr>
</table>
