<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#admin">Admin Home</a></li>
     <!-- <li class="active"><a href="#home">Home</a></li> -->
     <!-- <li><a href="#checklist">My To-Do List</a></li>
     <li><a href="#bank">Mom Bank</a></li> -->
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="ac.logout()">Log Out</button>
 </div>
</nav>


<div class="container">
  <!-- <h3>Admin Home</h3> -->
  <h3 ng-if="ac.message != ''">{{ac.message}}</h3>
    <form ng-submit="ac.addUser()">
      <b>ADD CHILD</b>  First Name: <input type="text" ng-model="ac.user.firstname">
      Last Name: <input type="text" ng-model="ac.user.lastname">
      Username: <input type="text" ng-model="ac.user.username">
      Password: <input type="text" ng-model="ac.user.password">
      <input class="btn btn-default" type="submit" name="submit" value="submit" />
    </form>
</div>

<div id="admintable">
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:35%">Responsibility</td>
      <td style="width:20%">Frequency</td>
      <td style="width:20%">User</td>
      <td style="width:25%">Edit</td>
    </tr>
    <tr ng-repeat="task in ac.tasks">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="task.description" e-name="description" e-form="rowform" onbeforesave="checkName($data, task._id)">
          {{ task.description || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable frequency-->
        <span editable-select="task.frequency" e-name="frequency" e-form="rowform" e-ng-options="f.value as f.text for f in ac.frequencies">
          {{ ac.showFrequency(task) }}
        </span>
      </td>
      <td>
        <!-- editable username (select-remote) -->
        <span editable-select="task.username" e-name="username" onshow="ac.loadUsernames()" e-form="rowform" >
          {{ ac.showUsername(task) }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform"  onbeforesave="ac.saveTask($data, task.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="ac.inserted === task">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button type="button" class="btn btn-danger" ng-click="ac.removeTask($index,task._id)">del</button>
        </div>
      </td>
    </tr>
  </table>
<!-- </div>
<div class="adminbuttons"> -->
  <button type="button" class="btn btn-default" ng-click="ac.addTask()">Add Task</button>
  <button type="button" class="btn btn-default" ng-click="ac.loadTasks()">Show Task List</button>
  <button type="button" class="btn btn-default" ng-click="ac.hideTasks()">Hide Task List</button>
  <!-- <button type="button" class="btn btn-primary adminlogout" ng-click="ac.logout()">LOGOUT</button> -->
</div>
