<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#home">Home</a></li>
     <li><a href="#/checklist">My To-Do List</a></li>
     <li><a href="#/bank">Mom Bank</a></li>
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="bc.logout()">Log Out</button>
 </div>
</nav>

<div class="container">
    <h1 id="welcome" class="lead">{{bc.firstName}}'s account at the Mom Bank</h1>
</div>

  <table>
    <tr>
       <th>Date</th>
       <th>Deposit</th>
       <th>Withdrawel</th>
    </tr>
    <tr ng-repeat="item in bc.bank">
      <!--don't need brackets for checkbox below, ng-repeat has it's own scope  -->
      <td>{{ item.date | date:'MM-dd-yyyy' }}</td>
      <td>{{ item.transaction }}</td>
      <!-- <td><input ng-model = "{{ item.transaction}}"></td> -->
      <td>{{ item.amount }}</td>
    </tr>
  </table>

</div>
