<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#admin">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li><a href="#admin">Admin Home</a></li>
     <li><a href="#adminbank">Mom Bank</a></li>
     <li class="active"><a href="#bonusrewards">Bonus Rewards</a></li>
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="abc.logout()">Log Out</button>
 </div>
</nav>
