<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#home">Home</a></li>
     <li><a href="#/checklist">My To-Do List</a></li>
     <li><a href="#/bank">Mom Bank</a></li>
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="clc.logout()">Log Out</button>
 </div>
</nav>

<div class="container">
    <h1 id="welcome" class="lead">{{clc.firstname}}, here are your responsibilities for the week!</h1>
</div>

  <table>
    <tr>
       <th>My Responsibility</th>
       <th>Times/Week</th>
       <th>Sunday</th>
       <th>Monday</th>
       <th>Tuesday</th>
       <th>Wednesday</th>
       <th>Thursday</th>
       <th>Friday</th>
       <th>Saturday</th>
    </tr>
    <tr ng-repeat="task in clc.usertasks">
      <td>{{ task.description }}</td>
      <td>{{ task.frequency }}</td>
      <!--don't need brackets for checkbox below, ng-repeat has it's own scope  -->
      <td><input ng-model = "task.suncheckbox" type="checkbox" ng-change="clc.save.Check(task._id)"></td>
      <td><input ng-model = "task.moncheckbox" type="checkbox" ng-change="clc.save.Check(task._id)"></td>
      <td><input ng-model = "task.tuescheckbox" type="checkbox" ng-change="clc.save.Check(task._id)"></td>
      <td><input ng-model = "task.wedcheckbox" type="checkbox" ng-change="clc.save.Check(task._id)"></td>
      <td><input ng-model = "task.thurcheckbox" type="checkbox" ng-change="clc.save.Check(task._id)"></td>
      <td><input ng-model = "task.fricheckbox" type="checkbox" ng-change="clc.save.Check(task._id)"></td>
      <td><input ng-model = "task.satcheckbox" type="checkbox" ng-change="clc.save.Check(task._id)"></td>
    </tr>
  </table>

</div>
