<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#home">Home</a></li>
     <li><a href="#/checklist">My To-Do List</a></li>
     <li><a href="#/bank">Mom Bank</a></li>
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="clc.logout()">Log Out</button>
 </div>
</nav>

<div class="container">
    <h1 id="welcome" class="lead">{{clc.userName}}, here are your responsibilities for the week!</h1>
</div>

<div id="list">
<table>
  <tr>
     <th>To-Do List</th>
     <th>Sunday</th>
     <th>Monday</th>
     <th>Tuesday</th>
     <th>Wednesday</th>
     <th>Thursday</th>
     <th>Friday</th>
     <th>Saturday</th>
  </tr>
  <tr>
    <td>Practice Music 30 min</td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>Cean Room</td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>Vacuum</td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
  </tr>
</table>

</div>

<div class='container row'>
  <div ng-repeat='thing in ic.items' class='col-sm-3'>
    <h3>{{ thing.name }}</h3>
    <p>
      {{ thing.description }}
    </p>
  </div>
