
  <div class="container home homebackground">
      <h2 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
      <form class="loginform" ng-submit="lc.login()">
            <input type="text" placeholder="username" ng-model="lc.user.username" />
            <input type="password" placeholder="password" ng-model="lc.user.password" />
            <input class="btn loginbtn btn-default" type="submit" name="submit" value="Sign In" />
            If you do not have a login, ask your Mom!
      </form>
  </div>
