<div class="navbardiv">
<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#user">Welcome to The Mom App!</a>
   </div>
   <ul class="nav navbar-nav">
     <li><a href="#user">Home</a></li>
     <li><a href="#checklist">My To-Do List</a></li>
     <li class="active"><a href="#userbooklog">Book Log</a></li>
     <li><a href="#bank">Mom Bank</a></li>
     <li><a href="#funstuff">Fun Stuff</a></li>
   </ul>
   <button class="btn btn-default navbarbutton" ng-click="ubl.logout()">Log Out</button>
 </div>
</nav>
</div>
<div class="row">
  <div class="col-sm-2">
    <button type="button" class="btn btn-default btn-primary" style="margin-top: 10vh;margin-left: 8vw;" ng-click="ubl.addBook()">Add a book summary for extra rewards!</button>
  </div>
  <div class="col-sm-10">
    <h3 style="margin-top: 10vh; padding-left: 15vw;">&#8220;The more that you read, the more things you will know. </br>The more you learn, the more places you'll go.&#8221;— Dr. Seuss</h3>
  </div>
</div>
<div class="row">
  <table id="checklisttable">
    <tr>
       <th>Date</th>
       <th>Book Title</th>
       <th>Author</th>
       <th>Pages</th>
       <th>Lexile Level</th>
       <th>Summary</th>
       <th>Mom Approved Reward</th>
       <th>Delete</th>
    </tr>
    <tr ng-repeat="book in ubl.userbooks.list">
      <td>{{ book.date | date:'MM-dd-yyyy' }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.pages }}</td>
      <td>{{ book.level }}</td>
      <td>{{ book.summary }}</td>
      <td>{{ book.momapproved }}</td>
      <td><button type="button" class="btn btn-default btn-danger" ng-click="ubl.delete(book._id)">Delete</button></td>
    </tr>
  </table>
</div>
<!-- add book modal-->
<div class="add-book-modal container">
  <script type="text/ng-template" id="addBookModalContent.html">
    <div class="modal-header">
      <img src="/views/images/books.png" class="icons"><h3>Add a book you have read to earn a reward!</h3>
    </div>
    <div class="modal-body col-xs-12">
      <div class="col-xs-12">
        <input type="text" ng-model="abmic.title" placeholder="Title:" class="modal-inputs form-control col-xs-7" autofocus="true">
      </div>
      <div class="col-xs-12">
        <input type="text" ng-model="abmic.author" placeholder="Author:" class="modal-inputs form-control col-xs-8">
      </div>
      <div class="col-xs-12">
        <input type="number" ng-model="abmic.pages" placeholder="Pages:" class="modal-inputs form-control col-xs-8">
      </div>
      <div class="col-xs-12">
        <input type="text" min=0 ng-model="abmic.level" placeholder="Lexile Level or enter NA if don't know:" class="modal-inputs form-control col-xs-8">
      </div>
      <div class="col-xs-12">
          <textarea rows="4" ng-model="abmic.summary" placeholder="Summary:" class="form-control modal-inputs"></textarea>
      </div>
      <div class="col-xs-12">
        <label class="col-xs-2">Date: </label>
          <input class="form-control col-xs-4" type="date" name="datepicker" ng-model="abmic.date" ></input>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-success" ng-click="abmic.addNewBook()" >
        Save
      </button>
      <button type="button" class="btn btn-default btn-danger" ng-click="abmic.cancel()">
        Cancel
      </button>
    </div>
  </script>
</div>
